﻿<div class="small-12 large-4 columns myAddressCardWrapper" ng-repeat="item in addresses" ng-show="item.UserId!=null">
    <div class="myAddressCard">
        <div class="content {{item.IsDefault}}">
            <div class="small-8 columns address">{{item.Address}}</div>
            <div class="small-4 columns">
                <i ng-click="Delete($index)" class="foundicon-remove right" title="Remove"></i>
                <i ng-click="ShowModalEdit($index)" class="foundicon-edit right" title="Edit"></i>
            </div>
            <div class="row"><p class="{{item.IsDefault}}">Default</p></div>
        </div>
    </div>
</div>
<div class="small-12 large-4 columns myAddressCardWrapper AddAddressCard" ng-click="ShowModalAdd()">
    <div class="myAddressCard">
        <div class="content">
            <div class="center">Add new address</div>
        </div>
    </div>
</div>
<div id="modalAddress" class="reveal-modal small" data-reveal>
    <div class="row" data-abide>
        <div class="small-12 columns">
            <div class="row">
                <div class="small-6 small-centered text-center columns"><h4 id="ModalTitle"></h4></div>
            </div>
            <br>
            <div class="row">
                <div class="small-4 columns">
                    <label for="address" class="right inline">Address:</label>
                </div>
                <div class="small-7 small-pull-1 columns">
                    <input type="text" id="address" placeholder="address" ng-model="modal.address" required pattern="^[a-zA-Z0-9,-/'\s]{1,25}$" />
                    <small class="error">Address is not valid.</small>
                </div>
            </div>
            <div class="row">
                <div class="small-4 columns">
                </div>
                <div class="small-7 small-pull-1 columns">
                    <label for="isDefault"><input type="checkbox" id="isDefault"> Use address like default</label>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="small-3 small-centered columns"><button id="Action" class="radius medium success" ng-click="ModalOk()">Save</button></div>
            </div>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
<script>$(document).foundation(); </script>