﻿<div class="diningMenu">
    <div ng-model="message"><p ng-show="showHide" ng-bind="message"></p></div>
    <dl class="accordion" data-accordion>
        <dd class="accordion-navigation" ng-repeat="categories in dishCategories">
            <a ng-click="currentCategori(categories.Name)" id="id{{$index}}">
                {{categories.Name}}
                <i class="foundicon-down-arrow"></i>
                <i class="foundicon-up-arrow"></i>
            </a>
            <div id="iD{{categories.Name}}" class="content" ng-repeat="item in menuItems">
                <div class="row">
                    <div class="large-1 small-2 columns">{{$index+1}}</div>
                    <div class="large-3 small-4 columns">{{item.Name}}</div>
                    <div class="large-6 columns hide-for-medium-down">{{item.Description}}</div>
                    <div class="large-1 small-3 columns">{{item.Price}}</div>
                    <div class="large-1 small-3 columns"><i class="foundicon-plus" title="Add to cart" ng-click="addToCart($index)"></i></div>
                </div>
            </div>
        </dd>
    </dl>
    {{afterLoad()}}
</div>
<script src="~/Content/js/accordion-slide.js"></script>