﻿@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<div ng-app="User">
    <div ng-controller="UserLayoutController">
        <header class="header hidden-for-small">
            <div id="logo">
                <img src="../Content/images/pizza.png" alt="FoodCaster">
                FoodCaster
            </div>
            <div class="infosesion">
                <i class="fi-shopping-cart toggleDetail" ng-click="toggleDetail()"></i>
                <a class="LogIn" ng-click="SignOut()">Sign Out</a>
            </div>
        </header>
        <section>
            <nav class="top-bar show-for-small-only" data-topbar role="navigation">
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="#"><i class="fi-shopping-cart toggleDetail" ng-click="toggleDetail()"></i>Food Caster</a></h1>

                    </li>
                    <li class="toggle-topbar menu-icon">
                        <a href="#"><span>Menu</span></a>
                    </li>
                </ul>
                <section class="top-bar-section">
                    <ul class="right">
                        <li><a href="#/">My foodcaster</a></li>
                        <li><a href="#/MyOrders" ng-click="SetOrderType('MyOrdersAjax')">My Orders</a></li>
                        <li><a href="#/Addresses">My Addresses</a></li>
                        <li><a href="#/CompletedOrders" ng-click="SetOrderType('CompletedOrdersAjax')"> Completed Orders</a></li>
                        <li><a href="#/ViewUser">View User Profile</a></li>
                    </ul>
                </section>
            </nav>
            <div class="medium-3 columns">
                <div class="main-content side-menu hide-for-small-only">
                    <div class="profile-face" ng-model="currentUser">
                        <div class="row">
                            <div class="large-4 columns">
                                <img class="userPhoto" ng-src="{{currentUser.Photo}}" title="Profile img" />
                            </div>
                            <div class="large-8 columns">
                                <p class="userLogin">{{currentUser.Email}}</p>
                                <p class="userName">{{currentUser.UserName}}</p>
                                <input type="button" class="signOut" ng-click="ShowEditUser()" value="Edit Profile" />
                            </div>
                        </div>
                    </div>
                    <ul class="side-nav hidden-for-small-only sidemenu">
                        <li>
                            <a href="#/"><i class="fi-layout"></i>My foodcaster</a>
                        </li>
                        <li><a href="#/MyOrders" ng-click="SetOrderType('MyOrdersAjax')"><i class="foundicon-page"></i>My Orders</a></li>
                        <li><a href="#/Addresses"><i class="fi-marker"></i>My Addresses</a></li>
                        <li><a href="#/CompletedOrders" ng-click="SetOrderType('CompletedOrdersAjax')"><i class="fi-check"></i>Completed Orders</a></li>
                    </ul>
                </div>
            </div>
            <div class="medium-9 columns" ng-view>
            </div>
            <div id="modalEditUser" class="reveal-modal small" data-reveal>
                <div data-abide>
                    <div class="row">
                        <div class="small-4 columns">
                            <label for="userName" class="right inline">User name:</label>
                        </div>
                        <div class="small-5 small-pull-3 columns">
                            <input type="hidden" id="userId" name="userId" ng-model="currentUser.Id" />
                            <input type="text" id="userName" name="userName" placeholder="New user name"
                                   required pattern="^[a-zA-Z\s]{1,25}$" ng-model="currentUser.UserName" />
                            <small class="error">Name is required and must be a string.</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <label for="UserEmail" class="right inline">Your Email:</label>
                        </div>
                        <div class="small-5 small-pull-3 columns">
                            {{currentUser.Email}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <label class="right inline">Photo:</label>
                        </div>
                        <div class="small-5 small-pull-3 columns" ng-model="currentUser.Photo">
                            <img class="userPhoto" ng-src="{{currentUser.Photo}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <label for="userPhotoLink" class="right inline">New Photo:</label>
                        </div>
                        <div class="small-5 small-pull-3 columns">
                            <input type="file" ng-file-select="onFileSelect($files)" id="uploadingPhoto" accept="image/jpg, image/jpeg, image/png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <label for="password" class="right inline">Password:</label>
                        </div>
                        <div class="small-5 small-pull-3 columns password-field">
                            <input type="password" id="password" ng-model="userPass.Pass" required pattern="^[a-zA-Z0-9]{8,20}$" />
                            <small class="error">Your password must match the requirements</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">
                            <label for="confirmPassword" class="right inline">Confirm password:</label>
                        </div>
                        <div class="small-5 small-pull-3 columns password-confirmation-field">
                            <input type="password" ng-model="userPass.confirmPass" id="confirmPassword" required pattern="^[a-zA-Z0-9]{8,20}$"
                                   data-equalto="password" />
                            <small class="error">The password did not match</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 small-push-4 columns">
                            <button ng-click="ModalOk()" id="Action" class="radius medium success">Edit Info</button>
                        </div>
                    </div>
                </div>
                <a class="close-reveal-modal" ng-click="deleteTrigger()">&#215;</a>
            </div>

            <div>
                <div class="cart-background" ng-show="activePosition" draggable="true" id="moving">
                    <div class="shopping-cart">
                        <div class="cart-head row">
                            <div class="small-11 columns">Shopping Cart</div>
                            <div class="small-1 columns"><i class="fi-x" ng-click="closeCart()"></i></div>
                        </div>
                        <div class="cart-address">
                            <p>Address:</p>
                            <div class="row">
                                <div class="small-9 columns"><select id="addressesSelect" ng-model="currentAddress" ng-options="a.Address for a in addresses"></select></div>
                                <div class="small-3 columns"><button ng-click="ShowModalAdd()">Add other</button></div>
                            </div>
                        </div>
                        <hr class="top-line" />
                        <div class="scrollbar">
                            <div class="row cart-items" ng-repeat="item in cartItemsFromStorage">
                                <div class="small-5 columns item-name">
                                    {{item.Name}}
                                </div>
                                <div class="small-2 columns item-price">
                                    {{item.Price.toFixed(2)}}
                                </div>
                                <div class="small-2 columns item-quality">
                                    <input id="count{{item.Id}}" type="text" ng-model="item.Count" ng-change="ChangeCount(item.Count, item.Id)" valid-number />
                                    <i class="fi-minus" ng-click="MinusCount(item.Count,item.Id)"></i>
                                    <i class="fi-plus" ng-click="PlusCount(item.Count,item.Id)"></i>
                                </div>
                                <div class="small-2 columns item-price">
                                    {{item.TotalPrice.toFixed(2)}}
                                </div>
                                <div class="small-1 columns item-action">
                                    <i class="fi-x" ng-click="DeleteItemFromCart(item.Id)"></i>
                                </div>
                            </div>
                        </div>
                        <hr class="bottom-line" />
                        <div class="row cart-footer">
                            <div class="small-5 columns"><button id="sendData" ng-click="SendData()">Checkout</button></div>
                            <div class="small-4 columns cart-total">Total:</div>
                            <div class="small-2 columns item-price">{{totalPrc.toFixed(2)}}$</div>
                            <div class="small-1 columns"></div>
                        </div>
                    </div>
                </div>
                <div id="modalAddressOnCart" class="reveal-modal small" data-reveal>
                    <div class="row" data-abide>
                        <div class="small-12 columns">
                            <div class="row">
                                <div class="small-6 small-centered text-center columns"><h4>Add new address</h4></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="small-4 columns">
                                    <label for="addressOnCart" class="right inline">Address:</label>
                                </div>
                                <div class="small-7 small-pull-1 columns">
                                    <input type="text" id="addressOnCart" placeholder="address" required pattern="^[a-zA-Z0-9,-/'\s]{1,25}$" />
                                    <small class="error">Address is not valid.</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-4 columns">
                                </div>
                                <div class="small-7 small-pull-1 columns">
                                    <label for="isDefaultOnCart"><input type="checkbox" id="isDefaultOnCart"> Use address like default</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-4 columns">
                                </div>
                                <div class="small-7 small-pull-1 columns">
                                    <label for="bindToUserOnCart"><input type="checkbox" id="bindToUserOnCart"> Add to my addresses</label>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="small-3 small-centered columns"><button id="SaveAddressFromCart" class="radius medium success" ng-click="SaveAddressFromCart()">Save</button></div>
                            </div>
                        </div>
                    </div>
                    <a class="close-reveal-modal">&#215;</a>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="~/Content/js/moving-cart.js"></script>
<script src="../../Content/js/sha512.js"></script>
<script>$(document).foundation(); </script>