﻿<div class="main-content">
    <ul class="categories content">
        <li><a ng-click="ShowAll()">All</a></li>
        <li ng-repeat="item in categories">
            <a ng-click="GetByCategory(item)">{{item}}</a>
        </li>
    </ul>
</div>
<div ng-repeat="item in filteredrest">
    <div class="small-12 large-4 medium-6 column">
        <div class="myFoodCasterContent" ng-click="Menu($index)">
            <div class="Logo"><img ng-src="{{item.Logo}}" /></div>
            <p class="RestaurantName"> {{item.Name}}</p>
            <p class="restaurantLocation">{{item.Location}}</p>
        </div>
    </div>
</div>