﻿<div class="row">
    <div id="container">
        <div class="small-12 large-6 columns myOrdersCardWrapper" ng-repeat="order in OrdersList" id="order{{$index}}">
            <div class="myOrdersCard">
                <div class="cardContent">
                    <div class="row">
                        <div class="small-5 columns diningName" ng-show="order.DinningAvailable" ng-click="diningMenuitems($index)">{{order.DinningName}}</div>
                        <div class="small-5 columns diningName notAviable" ng-show="!order.DinningAvailable" title="Not available">{{order.DinningName}}</div>
                        <div class="small-4 columns date">{{order.Date}}</div>
                        <div class="small-3 columns buttons">
                            <i class="fi-x right" ng-show="order.OrderStaus == 'Pending'" ng-click="abort($index)" title="Abort"></i> 
                            <i class="fi-refresh right" ng-show="order.PossibilityToReopen" ng-click="reopen($index)" title="Reopen"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 columns statusPending" ng-show="order.OrderStaus == 'Pending'">{{order.OrderStaus}}</div>
                        <div class="small-3 columns statusConfirmed" ng-show="order.OrderStaus == 'Confirmed'">{{order.OrderStaus}}</div>
                        <div class="small-3 columns statusCompleted" ng-show="order.OrderStaus == 'Completed'">{{order.OrderStaus}}</div>
                        <div class="small-3 columns statusAborted" ng-show="order.OrderStaus == 'Aborted'">{{order.OrderStaus}}</div>
                    </div>
                    <div class="row addressRow">
                        <div class="small-12 columns" ng-show="!order.AddressDeleted">{{order.UserAddress}}</div>
                        <div class="small-12 columns notAviable" ng-show="order.AddressDeleted" title="Not available">{{order.UserAddress}}</div>
                    </div>   
                    <dl class="tabs" data-tab>
                        <dd class="active"><a id="orderItemsTab{{$index}}" ng-click=" openOrderItemsTab($index)">Order items</a></dd>
                        <dd><a id="trackInfoTab{{$index}}" ng-click="openOrderTrackInfoTab($index)">Order history</a></dd>
                    </dl>
                    <div class="tabs-content">
                        <div class="content active" id="orderItems{{$index}}">
                            <div class="menuItems">
                                <div class="row" ng-repeat="item in order.OrderItems">
                                    <div class="small-7 columns" ng-show="item.ItemAvailable" title="{{item.Description}}">{{item.ItemName}}</div>
                                    <div class="small-7 columns notAviable" ng-show="!item.ItemAvailable" title="{{item.Description}}">{{item.ItemName}}</div>
                                    <div class="small-2 columns">x{{item.Count}}</div>
                                    <div class="small-3 columns">{{item.Price.toFixed(2)}}</div>
                                </div>
                            </div>
                            <div class="row totalRow">
                                <div class="small-9 columns total">Total</div>
                                <div class="small-3 columns totalPrice">{{order.TotalPrice.toFixed(2)}}</div>
                            </div>
                        </div>
                        <div class="content" id="trackInfo{{$index}}">
                            <div class="row trackInfoRow" ng-repeat="trackInfo in order.TrackInfoList">
                                <div class="small-7 columns">{{trackInfo.ActionInfo}}</div>
                                <div class="small-5 columns trackInfodate">{{trackInfo.ActionDate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../Content/js/masonry.pkgd.min.js"></script>