﻿<div class="main-content userProfile">
    <div class="row">
        <div class="small-12 large-12 medium-12 column">     
            <div class="row">        
                <div class="large-3 medium-3 columns">
                    <img ng-src="{{currentUser.Photo}}" style="width:120px;">
                    <div class="row">
                        <div class="columns">
                            <input type="button" class="signOut" ng-click="ShowEditUser()" value="Edit Profile" />
                        </div>
                    </div>
                </div>
                <div class="large-9 medium-9 columns">
                    <div class="row">
                        <div class="large-3 medium-4 columns marked-gray">Your name</div>
                        <div class="large-9 medium-8 columns">{{currentUser.UserName}}</div>
                    </div>
                    <div class="row">
                        <div class="large-3 medium-4 columns marked-gray">Your email</div>
                        <div class="large-9 medium-8 columns">{{currentUser.Email}}</div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>