﻿@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
    ViewBag.Title = "Login";
}
<link href="@Url.Content("~/Content/css/login-register.css")" rel="stylesheet" type="text/css" />
<form method="post" class="passwordForm" action="LogIn"  data-abide>
    <div class="large-4 medium-6 small-12 columns register-user">
        <div class="form-register">
            <div class="row">
                <div class="small-8 columns">
                    <div class="row">
                        <div class="small-5 columns register-user"><h4 class="registration-title"></h4></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-8 columns">
                    <div class="row">

                        <div class="small-5 small-pull-3 columns register-user">
                            <input type="email" id="login" name="login" class="register-user" placeholder="Your email" />
                            <small class="error">An email address is required.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-8 columns">
                    <div class="row">

                        <div class="small-5 small-pull-3 columns password-field register-user">
                            <input type="hidden" id="passwordHash" name="passwordHash" />
                            <input type="password" id="password" class="register-user" required pattern="^[a-zA-Z0-9]{8,20}$" placeholder="Your password" autocomplete="off" />
                            <small class="error">Your password must match the requirements</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-5 small-pull-3 columns">
                            <button type="submit" class="button small radius register-user">Log In</button>
                        </div>
                        <a href="../Authorization/Registration" class="form-link">Back to Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>
<script>
    function loginUser(login, pass) {
        $("#login").val(login);
        $("#password").val(pass);
        $(":submit").onclick();
    }
</script>
<script src="../../Content/js/sha512.js"></script>