﻿@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
    ViewBag.Title = "User Registration";
}
<link href="@Url.Content("~/Content/css/login-register.css")" rel="stylesheet" type="text/css" />
<form method="post" class="passwordForm"  action="RegisterNewUser" data-abide>
    <div class="large-4 medium-6 small-12 columns register-user">
        <div class="form-register">
            <div class="row">
                <div class="small-8 columns">
                    <div class="row">
                        <div class="small-5 columns register-user"><h4 class="registration-title"></h4></div>
                    </div>
                    <div class="row">
                        <div class="small-5 small-pull-3 columns register-user">
                            <input type="hidden" name="userId" />
                            <input type="text" id="userName" class="" name="userName" placeholder="Your name" autocomplete="off"
                                   required pattern="^[a-zA-Z\s]{1,25}$" />
                            <small class="error">Name is required and must be a string.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-8 columns">
                    <div class="row">

                        <div class="small-5 small-pull-3 columns register-user">
                            <input type="email" id="login" class="register-user" name="login" placeholder="Your email" autocomplete="off" />
                            <small class="error">An email address is required.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-8 columns">
                    <div class="row">
                        <div class="small-5 small-pull-3 columns password-field register-user">
                            <input type="hidden" id="passwordHash" name="passwordHash" />
                            <input type="password" id="password" class="register-user" required pattern="^[a-zA-Z0-9]{8,20}$" placeholder="Your password" autocomplete="off" />
                            <small class="error">Your password must match the requirements</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-5 small-pull-3 columns password-confirmation-field register-user">
                            <input type="password" id="confirmPassword" required pattern="^[a-zA-Z0-9]{8,20}$" placeholder="Confirm password" autocomplete="off"
                                   data-equalto="password" />
                            <small class="error">The password did not match</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-5 small-pull-3 columns">
                            <button type="submit" class="button small radius register-user">Sign up for FoodCaster</button>
                        </div>
                        <a href="../Authorization/LogIn" class="form-link">Already Register?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="../../Content/js/sha512.js"></script>