﻿@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<header class="header hidden-for-small">
    <div id="logo">
        <img src="../../Content/images/pizza.png" alt="FoodCaster">
        Manage Tool Page
    </div>
    <div class="infosesion">
        <a class="LogIn" href="../Authorization/LogIn">Sign Out</a>
    </div>
</header>
<nav class="top-bar show-for-small-only" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Food Caster</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li><a href="#/NewOrders">New Orders</a></li>
            <li><a href="#/ManageOrders">Manage Orders</a></li>
            <li><a href="#/Restaurants">Restaurants</a></li>
            <li><a href="#/Statistics">Statistics</a></li>
        </ul>
    </section>
</nav>
<div ng-app="ManagerModule">
    <section>
        <div class="medium-3 columns">
            <div class="main-content side-menu hide-for-small-only">
                <ul class="side-nav hidden-for-small-only sidemenu">
                    <li><a href="#/NewOrders"><i class="foundicon-inbox"></i>New orders</a></li>
                    <li><a href="#/ManageOrders"><i class="foundicon-settings"></i>Manage Orders</a></li>
                    <li><a href="#/Restaurants"><i class="foundicon-website"></i>Restaurants</a></li>
                    <li><a href="#/Statistics"><i class="fi-graph-pie"></i>Statistics</a></li>
                </ul>
            </div>
        </div>
    </section>
    <div class="medium-9 columns">
        <div class="main-content" ng-view>   
        </div>
    </div>
</div>