﻿<div class="table-position">
    <dl class="sub-nav">
        <dt>Filter:</dt>
        <dd ng-class='{"active":tog==1}' ng-click="tog=1; ChangeStatus('Confirmed')"><a>Confirmed</a></dd>
        <dd ng-class='{"active":tog==2}' ng-click="tog=2; ChangeStatus('Pending')"><a>Pending</a></dd>
        <dd ng-class='{"active":tog==3}' ng-click="tog=3; ChangeStatus('Aborted')"><a>Aborted</a></dd>
        <dd ng-class='{"active":tog==4}' ng-click="tog=4; ChangeStatus('Completed')"><a>Completed</a></dd>
    </dl>
    <table class="responsive mytable">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Restaurant</th>
                <th>User name</th>
                <th>User address</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody ng-repeat="order in items">
            <tr id="mainTr">
                <td class="toggleDetail" ng-click="toggleDetail($index, order.Id)">{{order.Id}}</td>
                <td class="toggleDetail" ng-click="toggleDetail($index, order.Id)">{{order.RestaurantName}}</td>
                <td>{{order.UserName}}</td>
                <td>{{order.UserAddress}}</td>
                <td>{{order.Status}}</td>
                <td><i ng-click="CompleteOrder(order.Id)" ng-show="ShowValue(order.Status)" class="foundicon-checkmark"></i></td>
            </tr>
            <tr ng-show="activePosition == $index">
                <td colspan="4" class="show-for-small">
                    <div class="content itemInTable" ng-repeat="item in itemList">
                        <div class="row">
                            <div class="large-1 small-2 columns">{{$index+1}}</div>
                            <div class="large-3 small-4 columns">{{item.Name}}</div>
                            <div class="large-6 columns hide-for-medium-down">{{item.Count}}</div>
                            <div class="large-1 small-3 columns">{{item.Price}}</div>
                        </div>
                        <hr id="hrInsideTable" />
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <div class="pagination-centered">
                        <ul class="pagination">
                            <li>
                                <a href="#" ng-click="setPage(0)">««</a>
                            </li>
                            <li><a href="" ng-click="prevPage()">&laquo;</a></li>
                            <li ng-repeat=" n in range()" ng-class="{current: n == currentPage}" ng-click="setPage(n)">
                                <a href="">{{n+1}}</a>
                            </li>
                            <li><a href="" ng-click="nextPage()">&raquo;</a></li>
                            <li>
                                <a href="#" ng-click="setPage(lastPage)">»»</a>
                            </li>
                            <li>
                                <select ng-model="countItems" ng-options="v for v in countVariants" ng-change="setPage(0)"></select>
                            </li>
                            <li>
                                Current page: {{currentPage+1}}
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>