﻿<div class="table-position">
    <div class="row">
        <div class="small-12 columns">
            <i ng-click="Add()" class="foundicon-plus right" title="Add"></i>
        </div>
    </div>
    <table class="responsive mytable">
        <thead>
            <tr>
                <th width="50px">№</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Dish Category</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="menuItem in menuItems">
                <td>{{$index + 1}}</td>
                <td>{{menuItem.Name}}</td>
                <td>{{menuItem.Price}}</td>
                <td>{{menuItem.Description}}</td>
                <td>{{menuItem.DishCategory}}</td>
                <td>{{menuItem.CurrentMenuItemsStatus}}</td>
                <td>
                    <i ng-click="Edit($index)" class="foundicon-edit" title="Edit"></i>
                    <i ng-click="Remove($index)" class="foundicon-remove" title="Remove"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="modalMenuItem" class="reveal-modal small" data-reveal data-abide>
    <div class="row">
        <div class="small-12 columns">
            <div class="row">
                <div class="small-6 small-centered text-center columns"><h4 id="ModalMenuItemTitle"></h4></div>
            </div>
            <br>
            <div class="row">
                <div class="small-4 columns">
                    <label for="menuItemName" class="right inline">Name:</label>
                </div>
                <div class="small-7 small-pull-1 columns">
                    <input type="text" id="menuItemName" placeholder="name" pattern="^[a-zA-Z\s\.\,\'\-\(\)\:]{1,50}$" />
                    <small class="error">Name is required and must be a string.</small>
                </div>
            </div>
            <div class="row">
                <div class="small-4 columns">
                    <label for="menuItemPrice" class="right inline">Price:</label>
                </div>
                <div class="small-7 small-pull-1 columns">
                    <input type="text" id="menuItemPrice" placeholder="price" pattern="^[0-9]{1,5}[\.\,]{0,1}[0-9]{0,2}$" />
                    <small class="error">Price is required and must be a nubmer.</small>
                </div>
            </div>
            <div class="row">
                <div class="small-4 columns">
                    <label for="menuItemDescription" class="right inline">Description:</label>
                </div>
                <div class="small-7 small-pull-1 columns">
                    <textarea rows="3" id="menuItemDescription" placeholder="description" pattern="^[a-zA-Z0-9\s\.\,\'\!\-\(\)\:]{1,400}$"></textarea>
                    <small class="error">Description is required and must be a string.</small>
                </div>
            </div>
            <div class="row">
                <div class="small-4 columns">
                    <label for="menuItemDishCategory" class="right inline">Dish category:</label>
                </div>
                <div class="small-7 small-pull-1 columns">
                    <select id="menuItemDishCategory"></select>
                </div>
            </div>
            <div class="row">
                <div class="small-4 columns">
                    <label for="menuItemStatus" class="right inline">Status:</label>
                </div>
                <div class="small-7 small-pull-1 columns">
                    <select id="menuItemStatus"></select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="small-3 small-centered columns"><button id="modalSave" class="radius medium success">Save</button></div>
            </div>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
<script>$(document).foundation(); </script>