﻿<div class="table-position">
    <table class="responsive mytable">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Restaurant</th>
                <th>User name</th>
                <th>User address</th>
                <th>Status</th>
                <th>Apply</th>
            </tr>
        </thead>
        <tbody ng-repeat="order in orders">
            <tr id="mainTr">
                <td class="toggleDetail" ng-click="toggleDetail($index, order.Id)">{{order.Id}}</td>
                <td class="toggleDetail" ng-click="toggleDetail($index, order.Id)">{{order.RestaurantName}}</td>
                <td>{{order.UserName}}</td>
                <td>{{order.UserAddress}}</td>
                <td>{{order.Status}}</td>
                <td>
                    <i ng-click="ApplyNewOrder($index)" class="foundicon-checkmark"></i>
                    <i ng-click="AbortedNewOrder($index)" class="foundicon-remove"></i>
                </td>
            </tr>
            <tr ng-show="activePosition == $index">
                <td colspan="4" class="show-for-small">
                    <div class="content itemInTable" ng-repeat="item in itemList">
                        <div class="row">
                            <div class="large-1 small-2 columns">{{$index+1}}</div>
                            <div class="large-3 small-4 columns">{{item.Name}}</div>
                            <div class="large-6 columns hide-for-medium-down">{{item.Count}}</div>
                            <div class="large-1 small-3 columns">{{item.Price}}</div>
                        </div>
                        <hr id="hrInsideTable"/>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>