﻿<div>
    <div class="table-position">
        <table class="responsive mytable">
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Location:</th>
                    <th>Dinning Category </th>
                    <th>Dinning Status </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" ng-model="searchData.Name" /></td>
                    <td><input type="text" ng-model="searchData.Location" /></td>
                    <td>
                        <select ng-model="searchData.Categories" ng-options="v for v in Category"></select>
                    </td>
                    <td>
                        <select ng-model="searchData.Status" ng-options="v for v in dinningStatuses"></select>
                    </td>
                </tr>
                <tr><th colspan="4"><a ng-click="SearchRest()">Search</a> Total Restaurants: {{restaurants.length}}</th></tr>
            </tbody>
        </table>
        <table class="responsive mytable">
            <thead>
                <tr>
                    <th width="110px">Name</th>
                    <th width="130px">Location</th>
                    <th width="100px">Dinning Category</th>
                    <th width="70px">Dinning Status</th>
                    <th width="100px">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.Name}}</td>
                    <td>{{item.Location}}</td>
                    <td>{{item.Category}}</td>
                    <td>{{item.Status}}</td>
                    <td>
                        <ul class="restaurantEdit">
                            <i ng-click="ShowEditRestaurant(item.Id)" class="foundicon-edit" title="Edit"></i>
                            <i ng-click="Delete($index)" class="foundicon-remove" title="Remove"></i>
                            <i ng-click="Menu(item.Id)" class="fi-list" title="Menu"></i>
                        </ul>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="pagination-centered">
                            <ul class="pagination">
                                <li>
                                    <a href="" ng-click="setPage(0)">««</a>
                                </li>
                                <li><a href="" ng-click="prevPage()">&laquo;</a></li>
                                <li ng-repeat=" n in range()" ng-class="{current: n == currentPage}" ng-click="setPage(n)">
                                    <a href="">{{n+1}}</a>
                                </li>
                                <li><a href="" ng-click="nextPage()">&raquo;</a></li>
                                <li>
                                    <a href="" ng-click="setPage(lastPage)">»»</a>
                                </li>
                                <li>
                                    <select ng-model="countItems" ng-options="v for v in countVariants" ng-change="setPage(0)"></select>
                                </li>
                                <li>
                                    Current page: {{currentPage+1}}
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <a ng-click="ShowAddRestaurant()">Add Restaurant</a>   
    </div>
</div>
<div id="modalRestaurant" class="reveal-modal small" data-reveal>
    <div data-abide>
        <div class="row">
            <table class="responsive mytable"><thead><tr><th id="ModalTitle"></th></tr></thead></table>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label for="restaurantName" class="right inline">Restaurant name:</label>
            </div>
            <div class="small-5 small-pull-3 columns">
                <input type="hidden" id="restaurantId" name="restaurantId" ng-model="currentRestaurant.Id" />
                <input type="text" id="restaurantName" name="restaurantName" placeholder="New restaurant name"
                       required pattern="^[a-zA-Z\s]{1,25}$" ng-model="currentRestaurant.Name" />
                <small class="error">Name is required and must be a string.</small>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label for="category" class="right inline">Category:</label>
            </div>
            <div class="small-5 small-pull-3 columns">
                <select ng-model="currentRestaurant.Category" ng-options="v for v in Category"></select>
                <input type="hidden" id="category" name="category" value={{currentRestaurant.Category}} />
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label for="location" class="right inline">Location:</label>
            </div>
            <div class="small-5 small-pull-3 columns">
                <input type="text" id="location" name="location" placeholder="New restaurant location"
                       required pattern="^[a-zA-Z,0-9/\s]{1,25}$" ng-model="currentRestaurant.Location" />
                <small class="error">Location is required and must be a string.</small>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label for="dinningStatus" class="right inline">Status:</label>
            </div>
            <div class="small-5 small-pull-3 columns">
                <select ng-model="currentRestaurant.Status" ng-options="v for v in dinningStatuses"></select>
                <input type="hidden" id="dinningStatus" name="dinningStatus" value={{currentRestaurant.Status}} />
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label class="right inline">Logo:</label>
            </div>
            <div class="small-5 small-pull-3 columns" ng-model="currentRestaurant.Logo">
                <img ng-src="{{currentRestaurant.Logo}}">
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label for="restaurantLogo" class="right inline">New Logo:</label>
            </div>
            <div class="small-5 small-pull-3 columns">
                <input type="file" ng-file-select="onFileSelect($files)" id="uploadingLogo" accept="image/jpg, image/jpeg, image/png">
            </div>
        </div>
        <div class="row">
            <div class="small-4 small-push-4 columns">
                <button ng-click="ModalOk()" id="Action" class="button small radius"></button>
            </div>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
<script>$(document).foundation(); </script>