﻿
<div class="row statistics">
    <div class="large-7 columns">
        <div id="pieChart1" class="chart-area"></div>
    </div>
    <div class="large-5 columns chart-names restaurants">
        Top {{topCountRestaurant}} reataurants
        <div class="chart-name" ng-repeat="itm in chartDataRestaurantTop" ng-click="GetRestaurantNameForDishesRate(itm.label)">
            <div id="rect{{$index}}" class="chart-rectangle"></div>
            {{itm.label}}({{itm.value}})
            {{afterLoadRestaurant()}}
        </div>
        <a id="othersTitle" data-reveal-id="myModal" class="others-restourants" ng-click="ShowModalRestaurant()">Others({{othersLengthRestaurant}})</a>

        <div id="myModal" class="reveal-modal" data-reveal>
            <h2>Other restaurants</h2>
            <div class="modal-chart-name" ng-repeat="itm in chartDataRestaurantOther" ng-click="GetRestaurantNameForDishesRate(itm.label)">
                <div id="rect1{{$index}}" class="chart-rectangle"></div>
                {{itm.label}}({{itm.value}})
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
    <div class="large-12 columns centered">
        <select id="restaurantsSelect" ng-model="currentRestourant" ng-change="GetCurrentRestaurant(currentRestourant)">
            <option ng-repeat="item in chartDataRestaurant">{{item.label}}</option>
        </select>
        <div id="dinings-rate">Dining dishes rate</div>
    </div>
    <div class="large-7 columns">
        <div id="pieChart2" class="chart-area"></div>
    </div>
    <div class="large-5 columns chart-names food">
        Top {{topCountMenu}} dishes
        <div class="chart-name" ng-repeat="itm in chartDataMenuTop">
            <div id="rectMenu{{$index}}" class="chart-rectangle"></div>
            {{itm.label}}({{itm.value}})
            {{afterLoadMenu()}}
        </div>
        <a id="othersTitle1" data-reveal-id="myModal1" class="others-restourants" ng-click="ShowModalMenu()">Others({{othersLengthMenu}})</a>

        <div id="myModal1" class="reveal-modal" data-reveal>
            <h2>Other dishes</h2>
            <div class="modal-chart-name" ng-repeat="itm in chartDataMenuOther">
                <div id="rectMenu1{{$index}}" class="chart-rectangle"></div>
                {{itm.label}}({{itm.value}})
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
</div>
<script src="~/Content/js/d3pie.js"></script>
