﻿@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<header class="header">
    <div id="logo">
        <img src="../Content/images/pizza.png" alt="FoodCaster">
        FoodCaster
    </div>
    <div class="infosesion">
        <a class="LogIn" href="../Authorization/LogIn">Sign Out</a>
    </div>
</header>
<section ng-app="AdminModule">
    <div class="large-2 columns">
        <div class="main-content side-menu hide-for-small-only">
            <ul class="side-nav hidden-for-small-only sidemenu">
                <li><a href="#">Users</a></li>
            </ul>
        </div>
    </div>
    <div class="large-10 columns">
        <div class="main-content" ng-view>
        </div>
    </div>
</section>