﻿<table class="responsive mytable">
    <thead>
        <tr>
            <th>Name:</th>
            <th>Email:</th>
            <th>Role </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" ng-model="searchData.Name" /></td>
            <td><input type="text" ng-model="searchData.Email" /></td>
            <td>
                <select ng-model="searchData.Role" ng-options="v for v in roles"></select>
            </td>
        </tr>
        <tr><th colspan="3"><a href="" ng-click="FindUsers()">Search</a> Total users: {{TotalUsers}}</th></tr>
    </tbody>
</table>
    <div id="table-grid">
        <table class="responsive mytable">
            <thead>
                <tr>
                    <th width="20px">Photo</th>
                    <th width="70px">Name</th>
                    <th width="150px">E-mail</th>
                    <th width="60px">Role ID</th>
                    <th width="70px">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td><img class="userPhoto" src="{{item.Photo}}" title="Profile image &#10user id={{item.Id}}" /></td>
                    <td>{{item.UserName}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.Role}}</td>
                    <td>
                        <ul class="restaurantEdit">
                            <i ng-click="ShowEditModal(item.Id)" class="foundicon-edit" title="Edit"></i>
                            <i ng-click="Delete(item.Id)" class="foundicon-remove" title="Remove"></i>
                        </ul>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="pagination-centered">
                            <ul class="pagination">
                                <li>
                                    <a href="" ng-click="setPage(0)">««</a>
                                </li>
                                <li><a href="" ng-click="prevPage()">&laquo;</a></li>
                                <li ng-repeat=" n in range()" ng-class="{current: n == currentPage}" ng-click="setPage(n)">
                                    <a href="">{{n+1}}</a>
                                </li>
                                <li><a href="" ng-click="nextPage()">&raquo;</a></li>
                                <li>
                                    <a href="" ng-click="setPage(lastPage)">»»</a>
                                </li>
                                <li>
                                    <select ng-model="countItems" ng-options="v for v in countVariants" ng-change="setPage(0)"></select>
                                </li>
                                <li>
                                    Current page: {{currentPage+1}}
                                </li>
                            </ul>
                        </div>
                        <a id="pagenumber" href="#"> {{currentPage+1}}</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <a class="infotable" ng-click="ShowAddModal()">Add user</a>
    <div class="row">
        <div class="large-4 columns">&nbsp;</div>
        <div class="large-4 columns">
        </div>
        <div class="large-4 columns"></div>
    </div>
    <div id="modalAddUser" class="reveal-modal small" data-reveal>
    <div data-abide>
        <div class="row">
            <table class="responsive mytable"><thead><tr><th id="ModalTitle"></th></tr></thead></table>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label for="userName" class="right inline">User name:</label>
            </div>
            <div class="small-5 small-pull-3 columns">
                <input type="hidden" id="userId" name="userId" ng-model="userData.Id" />
                <input type="text" id="userName" name="userName" placeholder="New user name"
                       required pattern="^[a-zA-Z\s]{1,25}$" ng-model="userData.UserName" />
                <small class="error">Name is required and must be a string.</small>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label for="email" class="right inline">Email address:</label>
            </div>
            <div class="small-5 small-pull-3 columns">
                <input type="email" id="email" name="email" placeholder="New email address" ng-model="userData.Email" />
                <small class="error">An email address is required.</small>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label for="role" class="right inline">Role:</label>
            </div>
            <div class="small-5 small-pull-3 columns">
                <select ng-model="userData.Role" ng-options="v for v in roles"></select>
                <input type="hidden" id="role" name="role" value={{currentRole}} />
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label for="password" class="right inline">Password:</label>
            </div>
            <div class="small-5 small-pull-3 columns password-field">
                <input type="password" id="password" ng-model="userData.Pass" required pattern="^[a-zA-Z0-9]{8,20}$" />
                <small class="error">Your password must match the requirements</small>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label for="confirmPassword" class="right inline">Confirm password:</label>
            </div>
            <div class="small-5 small-pull-3 columns password-confirmation-field">
                <input type="password" ng-model="userData.confirmPass" id="confirmPassword" required pattern="^[a-zA-Z0-9]{8,20}$"
                       data-equalto="password" />
                <small class="error">The password did not match</small>
            </div>
        </div>
        <div class="row">
            <div class="small-4 small-push-4 columns">
                <button ng-click="ModalOk()" type="submit" id="Action" class="button small radius"></button>
            </div>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
<script src="../../Content/js/sha512.js"></script>
<script>$(document).foundation(); </script>