.panel {
    margin-top: 50px;
}

.label.success {
    font-size:16pt;
    padding: 0.5rem 0.9rem 0.5rem;

    -webkit-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 2px 0px rgba(50, 50, 50, 0.75);
    -o-box-shadow:         3px 3px 2px 0px rgba(50, 50, 50, 0.75);
}

.label.alert {
    font-size:16pt;
    padding: 0.5rem 0.9rem 0.5rem;

    -webkit-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 2px 0px rgba(50, 50, 50, 0.75);
    -o-box-shadow:         3px 3px 2px 0px rgba(50, 50, 50, 0.75);
}

.table-position {
    margin: 15px 10px;
}

.top-bar {
  background: #0a8082;
}

.top-bar .name h1 a {
    background: #0a8082;
}

.top-bar-section ul li {
    background: #0a8082;
}

.top-bar-section ul li:hover:not(.has-form) > a {
      background-color: #008080;
      background: #3cb371;
      color: white; }

.top-bar.expanded .title-area {
    background: #0a8082;
}

label {
    font-size: 13pt;
}

.sub-nav dd.active a{
    background-image: -moz-linear-gradient(#0a8070, #0a8082);
    background-image: -webkit-linear-gradient(#0a8070, #0a8082);
    background-image: linear-gradient(#0a8070, #0a8082);
}

.sub-nav dd.active a:hover {
    background: #0a8090;
    cursor: pointer;
}

.foundicon-remove {
    color: #800000;
    font-size: 20px;
}

.foundicon-checkmark {
    color: #006400;
    font-size: 20px;
}

.foundicon-edit {
    color: #006400;
    font-size: 21px;
}

.foundicon-plus {
    color: #10a110;
    font-size: 20px;
}

.fi-list {
    font-size: 26px;
    color: #018070;
}

.foundicon-checkmark:hover {
    color: #00ff00;
    cursor: pointer;
}

.foundicon-remove:hover {
    color: #dc143c;
    cursor: pointer;
}

.foundicon-edit:hover {
    color: #028802;
    cursor: pointer;
}

.foundicon-plus:hover {
    color: #038603;
    cursor: pointer;
}

.fi-list:hover {
    color: #05a488;
    cursor: pointer;
}