﻿ body {
 font-family: 'Ubuntu Condensed', sans-serif;          
 background: url('../img/mainbg.jpg')no-repeat fixed;
  background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 -webkit-background-size:cover;      
 -moz-background-size:cover;
 background-color:#464646;
        }
 @media only screen and (max-width: 767px) {
  body {

    background-image: url(../img/mobilebg.jpg);
     background-position: center center;
  }
	}

  .register-user {
         
            margin:0 auto;
            width: 290px;
            min-width:200px;
            left:0;
        }
.form-register{
  font-family: 'Ubuntu Condensed', sans-serif;
  padding-top:20px;
  padding-bottom:40px;
  float:left;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  min-width:200px;
  width:305px;
  text-decoration: none;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));

}
.registration-title{
    
    margin-left:40px;
    color:white;
}
.form-register input 
{
    border-radius:2px;
    
}
button[type='submit']{
    margin:0 auto;
    position:relative;
    left:50px;
    width:272px;
    min-width:182px;
    height:44px;
    background:#0a8082;   
    font-family: 'Ubuntu Condensed', sans-serif;
}

button.radius.register-user, .button.radius.register-user  {
  
    font-size: 1.1rem;
    border-radius:0;
}
.form-link{

    color:white;
    position:relative;
    top:50px;
    padding-left:20px;
    text-decoration:underline;
    font-size:10pt;
    align-content:center;
} 