@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
body {

 background: url('../img/contentbg.jpg')no-repeat  fixed;
 -webkit-background-size:cover;      
 -moz-background-size:cover;
 background-size:cover;

}

.main-content {

  position:relative;
  text-decoration: none;
  border-radius: 10px;
  /*-webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;*/
  -webkit-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    
    font-weight: bold;  
    padding: 7px;   
    font-family: arial;
    /*float:left;*/
}

.side-menu {
    padding:10px 0 0 0;
    min-width:160px;
}

.sidemenu {
    letter-spacing: 1px;
    padding: 0;
}

.notificationErrorTitle {
    color: orangered;
}

.notificationSuccessTitle {
    color: forestgreen;
}
.my-area {
	padding: 10px;
	margin: 15px;
	border-radius: 5px;
	background: #F8F8F8;
	border: 1px solid #F0F0F0;
}

.area {
	margin: 10px 0;
}

ul.pagination li.current a, ul.pagination li.current button {
	background: #8fc800;
}
ul.categories li.current a, ul.categories li.current button{
    	background: #8fc800;
}

ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover, ul.pagination li.current button:focus {
        background: #006600; 
}
ul.categories li.current a:hover, ul.categories li.current a:focus, ul.categories li.current button:hover, ul.categories li.current button:focus {
        background: #006600; 
}
.side-nav li a {
color: #fff;
font-family: 'Ubuntu Condensed', sans-serif;
font-size: 1.3vw;
font-weight: bold;
width: 100%;
border-bottom: 1px solid #fff;
margin: -9px 0;
padding: 5px 10px;
}
.side-nav li a:not(.button){
    color:#fff;

}
.side-nav li{
border-bottom: 1px solid #fff;
}
.side-nav li:last-child{
    border:0;
}
.side-nav li a:last-child {
    border-bottom: 0px;
    
}

.side-nav li a:not(.button):hover, .side-nav li a:not(.button):focus {
    color: #fff; 
    background: #008000;
}

.side-nav li a i {
    font-size: 1vw;
    padding-right: 10px;
}

button, .button {
background-color:#74B7B8;
color: #fff;
}

button, .button:hover {
background-color:#419A8E;
}

a.badge {
	color: #fff;
	border: 1px solid #487475;
	border-radius: 7px;
	background: #74B7B8;
}

td a {
	color: #fff; 
	display: block;
	width: 50px;
	border-radius: 7px;
	border: 1px solid #407676;
	text-align: center;
	margin: 2px 0;
	background: #74B7B8;
}
    td a:hover {
        background: #0a8082;
        color:#211f1f;
    }

p input[type="submit"]
{
    border:1px solid #5A8893;
    border-radius: 3px;
    padding: 5px;
    background: #74B7B8;
    color: #fff;
}

p input[type="submit"]:hover {
    color: #3556b2;
}

#footer{
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    width: 100%;
}
.htext {
 color:#fff;
background: #74B7B8;
text-align:center;
font-size:16pt;
padding-bottom:10px;
padding-top:10px;
border-bottom-right-radius:50px;
border-top-left-radius:50px;
-webkit-box-shadow: 4px 4px 2px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    4px 4px 2px 0px rgba(50, 50, 50, 0.75);
-o-box-shadow:         4px 4px 3px 0px rgba(50, 50, 50, 0.75);
}

.header{
background-color:#0a8070;
padding-top:10px;
margin-bottom:2px;
height:60px;
}
#logo{
    font-size:18pt;
    margin-left:6px;
    margin-top:1px;
    font-family: 'Ubuntu Condensed', sans-serif;
    float:left;
    color:white;
  
}
#logo img {
      width:40px;
}
.infosesion {
font-family:Aharoni;
float:right;
margin-right:4px;
color:#2c4838;
}
.userProfile {
       color:#fff;
    }
.marked-gray{
    color:#acacac;
}
.heah {
    margin-top: 10px;
}

.userProfile form div{
        height: 72px;
        width: 35%;
        
    }
.userProfile form .editField{
        height: 72px;
        width: 65%;
        
    }
.form div div {
        color:rgb(116,183,184);
          font-family: 'Ubuntu Condensed', sans-serif;
         font-size: 20px;
        font-style: italic;
    }

.menu {
             border-bottom: 1px solid rgb(116,183,184);
             border-top: 1px solid rgb(116,183,184);
         }

/*.tabs dd {
             border-bottom: 1px solid rgb(116,183,184);
             border-top: 1px solid rgb(116,183,184);
             float: left;
             break-before: avoid;
             background-color: white;
             font-weight: bold;
             color: rgb(116,183,184);
         }

.tabs .foodcategory dd.active a, .tabs .tab-title.active a {
             border: 1px solid rgb(116,183,184);
         }

.foodcategory dl dd {
             width: 110px;
             height: 50px;
             background: rgb(116,183,184);
             float: left;
             margin-left: 15px;
             text-align: center;
         }

.foodcategory dd > a, .tabs .tab-title > a {
             display: block;
             color: rgb(116,183,184);
             padding: 1rem 2rem;
             font-family: 'Tangerine', serif;
             font-size: 1rem;
         }
    */
         .signOut {
             background-color: #0a8082;
             color: #ffffff;
             width: 100px;
             border: none;
             border-radius: 5px;
         }

         p.userLogin {
             font-size: 12pt;
             color: #0a8082;
             font-family: 'Ubuntu Condensed', sans-serif;
             font-weight: bold;
         }

         p.userName {
             font-size: 12pt;
             color: #41A0A0;
             font-family: 'Ubuntu Condensed', sans-serif;
             font-weight: normal;
         }
         .userPhoto{
              border: 1px solid #fff;
              border-radius: 4px;
              box-shadow: 0px 0px 5px rgba(255, 255,255, 0.3);
         }
         .signOut:hover {
             background-color: #008000;
             color: #fff;
           
         }
          button {
font-family: 'Ubuntu Condensed', sans-serif;
          }
         

         /*.my {
             background-color: white;
             color: rgb(116,183,184);
         }*/


         .dinning {
             border: 1px solid rgb(116,183,184);
             
             
         }
          
      .dinningTable {
          border: none !important; 
          
          
      }

      .dinningTable tbody tr td {
          font-family: 'Tangerine', serif;
             font-size: 18px;
          color: rgb(116, 183, 184) !important;
      }
      
          .dinningMenuItem {
             border: 1px solid rgb(116,183,184);
              width: 100px;
         }
          
          dd:not(.active) a div {
              color: white !important;
              background-color: rgb(116,183,184);
          }
/*styles for neworders, manageOrders tables*/
@import url(http://fonts.googleapis.com/css?family=Patua+One|Open+Sans);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table.mytable{
  border-collapse: separate;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 5px auto;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-color:#867f7f;
}

table.mytable thead {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
table.mytable thead tr {
    background:#6bb6f5;
}

table.mytable thead th {
 font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 16px;
  background-image: -moz-linear-gradient(#0a8070, #0a8082);
  background-image: -webkit-linear-gradient(#0a8070, #0a8082);
  background-image: linear-gradient(#0a8070, #0a8082);
  border-top: 1px solid #858d99;
}
table.mytable thead th:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
table.mytable thead th:last-child {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

table.mytable tbody tr td {
   font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 400;
  color: #5f6062;
  font-size: 13px;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

table.mytable tbody tr:last-child td {
  border-bottom: none;
}
table.mytable tbody tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
table.mytable tbody tr:last-child td:last-child {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

table.mytable #mainTr:hover {
  background: #e9e2e2;
}

.itemInTable:hover {
    font-weight: bold;
    color: #000000;
}

#hrInsideTable {
    padding: 0; 
    margin: 0 0 5px 0;
}

/*styles for manageOrders filter*/

input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

    input[type=checkbox].css-checkbox + label.css-label {
        padding-left: 29px;
        height: 22px;
        display: inline-block;
        line-height: 22px;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 22px;
        vertical-align: middle;
        cursor: pointer;
    }

    input[type=checkbox].css-checkbox:checked + label.css-label {
        background-position: 0 -22px;
    }
label.css-label {
    background-image: url('../img/cb.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.paging li{
    display:inline-block;
}
.paging li:last-child{
    float:right;
}

ul.pagination li:last-child {
    float: right;
}


ul.pagination li.current a{
    color: #ffffff;
    background-image: linear-gradient(#0a8020, #0a8040);
    cursor: pointer;
}

ul.pagination li a{
    color: #ffffff;
    background-image: linear-gradient(#0a8070, #0a8082);
}
ul.pagination li a:hover{
    background-image: linear-gradient(#0a8020, #0a8040);
}
ul.categories li {
    display: inline-block;
}
ul.categories li a{
padding: 0.0625rem 0.625rem 0.0625rem;
color: #999999;
background: none;
border-radius: 3px;
font-weight: normal;
font-size: 1em;
line-height: inherit;
transition: background-color 300ms ease-out;

}
ul.categories li {
height: 1.5rem;
color: #222222;
font-size: 0.875rem;
margin-left: 0.3125rem;
}

ul.categories li.current a{
    color: #ffffff;
    background-image: linear-gradient(#0a8020, #0a8040);
    cursor: pointer;
}

ul.categories li a{
    color: #ffffff;
    background-image: linear-gradient(#0a8070, #0a8082);
}
ul.categories li a:hover{
    background-image: linear-gradient(#0a8020, #0a8040);
}

.toggleDetail{
    cursor: pointer;
}
 #pagingList li {
        display: inline-block;
        float: left;
    }
#pagenumber{
        float: right;
    }
.restaurantEdit{
         margin:0;
    }
.restaurantEdit li{
    display:inline-block;
}
.saveChanges{
    display: block;
}
.LogIn{
   padding-right:10px;
   color:#fff;
   text-decoration:underline;
   font-weight:bold;
font-family: 'Ubuntu Condensed', sans-serif;
   font-size:16px;
}
.LogIn:hover{
   color: #dfdfdf;

}
/*UserLayout*/
.UserHome{
    height:35px;
    border-bottom: 1px solid rgb(116,183,184);
    color: rgb(168,168,168); 
    padding-left: 30px; 
}
.UserInfo{
    width: 35%;
}
.UserInfoTop{
    padding-top:10px;
}
 section .menu {
        border: none;
        padding-left: 20px;
    }
    .menu {
        padding: 0;
    }
    .menu ul {
        padding: 0;
        list-style-type: none;
    }
    .menu ul li {
        border-bottom: 1px solid rgb(116,183,184);
        height: 50px;
        line-height: 50px;
        text-align: left;
        vertical-align: middle;
    }

    .menu ul li a {
        text-decoration: none;
        color: rgb(116,183,184);
        background-color: white;
        padding-left: 20px;
        font-family: 'Tangerine', serif;
        font-size: 1rem;
        vertical-align: middle;
        display: inline-block;
        line-height: normal;
    }

    .menu ul .userData {
        height: 135px;
        border-bottom: 1px solid rgb(116,183,184);
        text-align: left;
        vertical-align: middle;
    }

    .menu ul .userData a {
        padding: 0;
    }
    .userTable {
        border: none;
    }
   .userNavigation li a:hover:not(.userData){color:#ababab;}

img.dinningLogo {
margin:25px;
float:left;
width:100px;
}

/*accordion*/
.accordion .accordion-navigation > a, .accordion dd > a {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 1px 0px 0px 0px rgba(255,255,255,0.9) inset, 0px 2px 2px rgba(0,0,0,0.1);
}

dd div.content {
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 1px 0px 0px 0px rgba(255,255,255,0.9) inset, 0px 2px 2px rgba(0,0,0,0.1);
    background-color: #ffffff;
}

.diningMenu {
    padding: 8px 10px 8px 10px;
    border-radius: 10px;
    /*-webkit-background-clip: padding;*/
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
    box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
    border: 1px solid #000;
    background-color: rgba(255,255,255, 0.2);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.3)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}

.diningMenu p {
    padding: 5px 0;
    background-color: #ffffff;
    color: #f20049;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

a i.foundicon-down-arrow {
    float: right;
    display: none;
}

a i.foundicon-up-arrow {
    float: right;
    display: none;
}
.accordion .accordion-navigation a:hover .foundicon-down-arrow {
    display: block;
}

.accordion .active a:hover .foundicon-down-arrow {
    display: none;
}

.accordion .active a:hover .foundicon-up-arrow {
    display: block;
}
.myAddressCardWrapper {
    padding-left: 0;
    padding-right: 0;
}
.myAddressCard .content .address {
        font-size: 17px;
        font-weight: bold;
        color: #fff;
    }
.myAddressCard {
  margin: 2px;
  text-decoration: none;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  border: 1px solid #000;
  background-color: rgba(0,0,0, 0.6);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}
.myAddressCard:hover {
background-color: rgba(0,35,0, 0.6);
}
.myAddressCard .content {
    border-radius: 7px;
    margin: 7px 7px 7px 0px;
    height:50px;
    font-family: arial;
}

.myAddressCard .content p.true {
color:#17b423;
float:left;
margin-left:20px;
font-size:8pt;
font-style:italic;
}
.myAddressCard .content p.false {
font-size:0pt;
}
.myAddressCard .content .center{
    text-align:center;
    padding-top:5px;
}
.myAddressCard .content .center a{
    color:#bbbbbb;
}
.AddAddressCard{
    color:#bbbbbb;
}
.AddAddressCard :hover{
    cursor: pointer;
    color:#0a8040;
}
.myOrdersCardWrapper {
    padding: 3px;
    min-width: 400px;
}
.myOrdersCard {
    padding: 8px 10px 8px 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
    box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
    border: 1px solid #000;
    background-color: rgba(255,255,255, 0.2);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.3)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}
    .myOrdersCard .cardContent {
        background: rgb(238, 245, 238);
        padding: 7px;
        border-radius: 7px;
        box-shadow: 3px 3px 8px #5f6062;
        font-family: arial;
    }
        .myOrdersCard .cardContent .row {
            margin: 7px 7px 7px 0px;
        }
        .myOrdersCard .cardContent .diningName {
            font-size: 17px;
            font-weight: bold;
            color: #0a8082;
            cursor: pointer;
        }
        .myOrdersCard .cardContent .date {
            font-size: 10px;
            color: #0a8082;
        }
        .myOrdersCard .cardContent .buttons {
            position: relative;
            right: -15px;
            top: -5px;
        }
        .myOrdersCard .cardContent .fi-x {
            font-size: 22px;
            margin-left: 5px;
            color: #800101;
        }
        .myOrdersCard .cardContent .fi-x:hover {
            color: #ca2828;
            cursor: pointer;
        }
        .myOrdersCard .cardContent .fi-refresh {
            font-size: 22px;
            color: #128001;
        }
        .myOrdersCard .cardContent .fi-refresh:hover {
            color: #0cc20c;
            cursor: pointer;
        }
        .myOrdersCard .cardContent .statusPending {
            font-size: 13px;
            font-weight: bold;
            color: #800101;
            position: relative;
            top: -13px;
            left: 2px;
        }
        .myOrdersCard .cardContent .statusConfirmed {
            font-size: 13px;
            font-weight: bold;
            color: #18b900;
            position: relative;
            top: -13px;
            left: 2px;
        }
        .myOrdersCard .cardContent .statusCompleted {
            font-size: 13px;
            font-weight: bold;
            color: #18b900;
            position: relative;
            top: -13px;
            left: 2px;
        }
        .myOrdersCard .cardContent .statusAborted {
            font-size: 13px;
            font-weight: bold;
            color: #800101;
            position: relative;
            top: -13px;
            left: 2px;
            float: left;
        }
        .myOrdersCard .cardContent .addressRow {
            font-size: 14px;
            font-weight: bold;
            color: #093f26;
            position: relative;
            top: -20px;
            left: 2px;
        }
        .myOrdersCard .cardContent .menuItems {
            font-size: 13px;
            position: relative;
            top: -25px;
            left: 15px;
        }
            .myOrdersCard .cardContent .menuItems .row:hover {
                font-weight: bold;
            }
        .myOrdersCard .cardContent .totalRow{
            font-size: 14px;
            font-weight: bold;
            position: relative;
            top: -23px;
        }
        .myOrdersCard .cardContent .total {
            color: #093f26;
            left: 13px;
        }
        .myOrdersCard .cardContent .totalPrice{
            left: 16px;
        }
        .myOrdersCard .cardContent .tabs-content > .content {
            padding-bottom: 0;
            padding-top: 0;
        }
        .myOrdersCard .cardContent .tabs dd > a {
            padding: 5px;
            position: relative;
            left: 13px;
            color: rgb(137, 134, 134);
            text-decoration: underline;
        }
        .myOrdersCard .cardContent .tabs dd.active a {
            background: rgb(238, 245, 238);
            font-weight: bold;
            color: rgb(60, 53, 53);
            text-decoration: none;
        }
        .myOrdersCard .cardContent .tabs-content {
            margin-bottom: 0;
        }
        .myOrdersCard .cardContent .tabs {
            position: relative;
            top: -25px;
        }
        .myOrdersCard .cardContent .trackInfoRow {
            font-size: 13px;
            position: relative;
            top: -25px;
            left: 15px;
        }
        .myOrdersCard .cardContent .trackInfoRow .trackInfodate {
            font-size: 12px;
            top: 2px;
        }
.notAviable {
    color: #5f6062 !important;
    text-decoration: line-through !important;
    cursor: default !important;
}

.profile-face{
    margin-bottom: 15px;
}
div.cardelement {
    float:left;
    margin: 10px;
    padding:15px;
    width:31%;
    min-width:250px;
    height:100px;
    background: #54625f;
    color: #fff;
    text-shadow:1px 1px 1px #000000;
    font-size:20pt;
    border: 1px solid rgba(0,0,0,0.05);
-moz-box-shadow: 1px 4px 4px #7c7c7c;
-webkit-box-shadow: 1px 4px 4px #7c7c7c;
box-shadow: 1px 4px 4px #7c7c7c;
    border-radius:5px;
}

.MyFoodCasterWrapper{
    
    margin:0 auto;
    padding:0;

}
.myFoodCaster{
  
    margin-top:20px;
}
.myFoodCasterContent{
  cursor: pointer;
  position:relative;
  padding-top:20px;
  padding-bottom:40px;
  color: rgba(255, 255, 255, 0.85);
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  border: 1px solid #000;
  background-color: rgba(255,255,255, 0.3);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    
    font-weight: bold;  
    padding: 7px;   
    font-family: arial;
    float:left;
    margin-top:10px;
    width:100%;
}
.myFoodCasterContent:hover {
     background-color: rgba(140,200,140, 0.7);
    }

.myFoodCaster {
    padding: 8px 10px 8px 10px;
}


[class*="myFoodCaster"] + [class*="column"] + [class*="column"]:last-child {
  float: left;
}
[class*="myFoodCaster"] + [class*="column"]:last-child {
  float: left;
}

.myFoodCaster .content { 
  position:relative;
  padding-top:20px;
  padding-bottom:40px;
  left:50px;  
  color: rgba(255, 255, 255, 0.85);
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    font-size: 17px;
    font-weight: bold;  
    padding: 7px;   
    font-family: arial;
    float:left;
    width:100%;
    max-width:360px;
    min-width:220px;
}
.myFoodCaster .true {
    background:#99d1d1;
}
.myFoodCaster .content .row {
        margin: 7px 7px 7px 0px;
        height:60px;
    }
.myFoodCaster .content .row p.true {
    color:#17b423;
    font-size:10pt;
    font-style:italic;
}
.myFoodCasterContent .Logo img{
    float:left;
    width:90px;
    height:80px;
    max-width:100px;
    max-height:70px;
    margin-right:5px;
    border: 1px solid #fff;
border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(255, 255,255, 0.3);
}
.myFoodCasterInfo{  
    vertical-align:middle;  
    height:100%;
     float:left;
     padding-left:0;
}

.myFoodCasterInfo p{  
    vertical-align:top;
    width:150px;
    padding:0;
    margin:0;  
    }
.restaurantName{
    font-size:16px;
}
.restaurantLocation {
    font-size:12px; 
}

/*shopping cart styles*/
.fi-shopping-cart {
    font-size: 30px;
    padding-right: 5px;
}

.cart-background {
    z-index: 40;
    background-color:rgb(42,45,50);
    border-radius: 10px;
    display: inline-block;
    width: 22vw;
    min-width: 295px;
    position: fixed;
    bottom: 2%;
    left: 2%;
}

.shopping-cart {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  font-size: 14px;
}

.cart-head div.small-11.columns {
    text-align: center;
    padding: 0;
}

.cart-head div.small-1.columns {
    padding: 0;
}

.cart-head .fi-x {
    padding-right: 6px;
    font-size: 16px;
    float: right;
    color: #B00035;
    cursor: pointer;
}

.cart-head .fi-minus {
    color: #B00035;
}

    .cart-head .fi-minus:hover {
        color: #F20049;
    }

.cart-head .fi-x:hover {
    color: #F20049;
}

div.cart-address p {
    font-size: 15px;
    padding-left: 10px;
}

div.cart-address button {
    position: absolute;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 5px;
    margin: 0;
    background-color: #008000;
}

div.cart-address button:hover {
    background-color: #2CB32C;
}

.cart-address div.small-9.columns {
    padding: 0;
    padding-left: 10px;
}

.cart-address div.small-3.columns {
    display: inline-block;
    padding: 0;
}

.cart-address select {
    background-color: #444444;
    color: #ffffff;
    border-radius: 5px;
    float: left;
    margin: 0 10px 0 0;
    height: 1.5em;
    padding: 0;
    max-width: 95%;
}

.cart-items {
    margin-bottom: 5px;
}

.cart-items div.columns {
    padding: 0;
}

.cart-items div.columns.item-name {
    text-align: left;
    padding-left: 7px;
}

.cart-items div.columns.item-price {
    padding-right: 5px;
    text-align: right;
}
.cart-items div.columns.item-quality {
    display: inline-block;
}
.cart-items div.columns.item-quality input[type="text"] {
    float: left;
    margin-left: 1px;
    direction: ltr;
    padding: 0;
    height: 20px;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #444444;
    color: #ffffff;

    width: 30px;
}

div.cart-items i.fi-minus {
    padding: 0;
    margin: 0;
}

div.cart-items i.fi-plus {
    padding: 0;
    margin: 0;
}

div.cart-items i.fi-minus::before {
    font-size: 11px;
    position: absolute;
    color: #B00035;
    top: 12px;
    left: 35px;
}

div.cart-items i.fi-minus:hover::before {
    color: #F20049;
}

div.cart-items i.fi-plus::before {
    font-size: 12px;
    color: #008000;
    position: absolute;
    top: 1px;
    left: 35px;
}

div.cart-items i.fi-plus:hover::before {
    color: #2CB32C;
}

.cart-items div.columns.item-action {
    float: right;
    color: #B00035;
    padding-right: 7px;
    cursor: pointer;
}

.cart-items div.columns.item-action:hover {
    color: #F20049;
}

.cart-footer div.columns {
    padding: 0;
}

.cart-footer button {
    padding: 5px 8px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #008000;
    cursor: pointer;
}

.cart-footer button:hover {
    background-color: #2CB32C;
}

.cart-footer div.columns.cart-total {
    text-align: right;
    padding-right: 10px;
    color: #008000;
    font-size: 17px;
}

.cart-footer .item-price {
    text-align: right;

}

.cart-footer div.columns.item-price {
    padding-right: 5px;
}
hr.top-line {
    margin: 5px 5px 10px 5px;
}

hr.bottom-line {
    margin: 0 5px 5px 5px;
}

.scrollbar {
    max-height: 30vh;
    overflow-x: hidden;
    direction: rtl;
    margin: 5px 0 10px 2px;
}
.scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
.scrollbar::-webkit-scrollbar-track-piece {
    background-color: #3b3b3b;
    -webkit-border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:vertical {
    -webkit-border-radius: 6px;
    background: #666666;
}

@media screen and (max-width: 500px) {
    .cart-background {
        width: 98%;
        position: fixed;
        bottom: 1%;
        left: 1%;
    }

    .shopping-cart {
        font-size: 16px;
    }

    .cart-address select {
        margin: 0 10px 0 0;
        min-width: 95%;
    }

    .cart-footer div.columns.cart-total {
        font-size: 18px;
    }
}

.statistics {
    max-width: 100%;
    background-color: #ffffff;
}

.chart-names {
    padding-top: 5vw;
}

.chart-name {
    display: inline-block;
    margin: 3px 5px;
    font-size: 0.9rem;
    width: 100%;
}

.restaurants .chart-name {
    cursor: pointer;
}

#myModal .modal-chart-name {
    cursor: pointer;
}

.chart-rectangle {
    margin: 5px 5px 0 0;
    float: left;
    height: 0.9rem;
    width: 0.9rem;
    background: #444444;
}

.others-restourants {
    color: #1e90ff;
    margin-left: 5px;
    float: left;
    font-size: 1rem;
}

.modal-chart-name {
    display: inline-block;
    margin: 3px 5px;
    font-size: 0.9rem;
}

.chart-area {
    padding-left: 0; 
}

#restaurantsSelect {
    max-width: 300px;
}

.centered {
    text-align: center;
    display: inline-block;
}

#dinings-rate {
    padding-left: 15px;
    display: inline-block;
}
