﻿.addOrderModal {
    border: 4px solid rgb(50,98,99);
}

.addOrderModal p {
    font-family: 'Tangerine', serif;
    font-size: 20px;
    color: rgb(50,98,99);
}

.orderWarning{
    font-family: 'Tangerine', serif;
    font-size: 20px;
    color: red !important;
}

label {
    font-family: 'Tangerine', serif;
    font-size: 20px;
    color: rgb(50,98,99);
}

select {
    border: 1px solid rgb(50,98,99);
    font-family: 'Tangerine', serif;
    font-size: 16px;
    color: black;
}

option {
    font-family: 'Tangerine', serif;
    font-size: 14px;
    color: black;
}


.orderButton {
    border: 1px solid rgb(50,98,99);
    background-color: rgb(100,180,180);
    padding: 7px;
    width: 80px;

    font-family: 'Tangerine', serif;
    font-size: 16px;
    color: black;
}

.selectMenuItems {
    border: 1px solid rgb(50,98,99) !important;
}

.selectMenuItems thead {
    border-bottom: 1px solid rgb(50,98,99);
    background-color: rgb(150,204,204) !important;
}

.ordersSelectedMenuItems {
    border: 1px solid rgb(50,98,99) !important;
}

.ordersSelectedMenuItems tbody tr {
    border: 1px solid rgb(50,98,99) !important;
}

.selectMenuItems tbody tr td{
    vertical-align: central !important;
}

.saveOrder {
    font-family: 'Tangerine', serif !important;
    font-size: 20px!important;
    border: 1px solid rgb(50,98,99);
    background-color: rgb(150,204,204) !important;
}

.orderItems tbody tr td {
    color: rgb(50,98,99);
    font-family: 'Tangerine', serif;
    font-size: 20px;
}

.orderItems {
    border: 1px solid rgb(50,98,99);
}

.orderItems tbody tr {
    border: 1px solid rgb(50,98,99) !important;
}

.orderItems thead {
    border-bottom: 1px solid rgb(50,98,99);
    background-color: rgb(150,204,204) !important;
}
.myController .addOrder {
    float: right;
    
}
.cancelBtn {
    color: rgb(50,98,99) !important;
}

.ordersList {
    border: 1px solid rgb(50,98,99);
}

.ordersList tbody tr {
    border: 1px solid rgb(50,98,99) !important;
}

.orderDetails thead{
    background-color: rgb(50,193,19) !important;
}

.editItemWarningText {
    color: red !important;
}

.editOrderRetaurant {
    color: rgb(50,193,19) !important;
}