﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FoodCaster</title>
        <link rel="stylesheet" href="../../Content/css/normalize.css" />
        <link rel="stylesheet" href="../../Content/css/foundation.css" />
        <link href="~/Content/css/general_foundicons.css" rel="stylesheet" />
        <link href="~/Content/fonts/foundation-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="../../Content/css/app.css" />
        <link rel="stylesheet" type="text/css" href="../../Content/NotificationStyles/css/ns-default.css" />
        <link rel="stylesheet" type="text/css" href="../../Content/NotificationStyles/css/ns-style-growl.css" />
        <link rel="stylesheet" href="../../Content/css/styles.css" />
        <link rel="stylesheet" href="../../Content/css/responsive-tables.css" />
        <link rel="shortcut icon" href="../../Content/img/favicon.png"></head>
    <body>
        @RenderBody()
    </body>
</html>
<script src="../../Content/js/vendor/jquery.js"></script>
<script src="../../Content/js/accordion-slide.js"></script>
<script src="../../Content/js/scripts.js"></script>
<script src="../../Content/js/foundation.min.js"></script>
<script src="../../Content/js/vendor/modernizr.js"></script>
<script src="../../Content/NotificationStyles/js/modernizr.custom.js"></script>
<script src="../../Content/NotificationStyles/js/classie.js"></script>
<script src="../../Content/NotificationStyles/js/notificationFx.js"></script>
<script src="../../Content/NotificationStyles/js/showNotification.js"></script>
<script>$(document).foundation(); </script>
@* Angular js files*@
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
<script src="../../Content/js/angular-file-upload.js"></script>

@* Manager controleers and modules *@
<script src="../../Content/js/controllers/Manager/ManagerModule.js"></script>
<script src="../../Content/js/controllers/Manager/NewOrdersController.js"></script>
<script src="../../Content/js/controllers/Manager/ManageOrdersController.js"></script>
<script src="../../Content/js/controllers/Manager/RestaurantsController.js"></script>
<script src="../../Content/js/controllers/Manager/MenuItemsController.js"></script>
<script src="~/Content/js/controllers/Manager/StatisticsController.js"></script>
@* User controleers and modules *@
<script src="../../Content/js/controllers/User/UserModule.js"></script>
<script src="../../Content/js/controllers/User/UserLayoutController.js"></script>
<script src="../../Content/js/controllers/User/MyFoodCasterController.js"></script>
<script src="../../Content/js/controllers/User/DiningMenuItemsController.js"></script>
<script src="../../Content/js/controllers/User/MyOrdersController.js"></script>
<script src="../../Content/js/controllers/User/AddressesController.js"></script>
<script src="~/Content/js/directives/directives.js"></script>
@* Admin controleers and modules *@
<script src="../../Content/js/controllers/Admin/AdminModule.js"></script>
<script src="../../Content/js/controllers/Admin/UsersController.js"></script>
@* d3.js and nv.d3.js files *@
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>