﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="../../Content/css/normalize.css" />
    <link rel="stylesheet" href="../../Content/css/foundation.css" />
    <link rel="stylesheet" href="../../Content/css/app.css" />
    <link rel="stylesheet" href="../../Content/css/styles.css" />
    <link rel="shortcut icon" href="../../Content/img/favicon.png">
    <script src="../../Content/js/vendor/modernizr.js"></script>
</head>
<body>
    <header class="header">
        <div id="logo">
            <img src="../Content/images/pizza.png" alt="FoodCaster">
            FoodCaster
        </div>
        <div class="infosesion"></div>
    </header>
    <section>
            @RenderBody()
    </section>
    <script src="../../Content/js/vendor/jquery.js"></script>
    <script src="@Url.Content("~/Scripts/otf.js")"></script>
    <script src="../../Content/js/scripts.js"></script>
    <script src="../../Content/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>