﻿@using FoodCaster.Access
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<div class="row">
    <div class="small-6 columns small-centered">
        <div class="row">
            <div class="panel">
                @if (Message.Success)
                {
                    <span class="success round label">Success</span>
                }
                else
                {
                    <span class="alert round label">Error</span>
                }
                <p>@Message.Text</p>
            </div>
        </div>
    </div>
</div>