﻿@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
    ViewBag.Title = "404 Page not found";
}
<link href="@Url.Content("~/Content/css/error.css")" rel="stylesheet" type="text/css" />
<div class="row error-page">
    <div class="small-12 large-12 medium-12 columns  form-error">

        <div class="small-12  text-center">
            <h2 class=" error-title">Ooops, 404. Page not found, plate is empty :( </h2>
            <img src="../Content/img/404.png" style="">
            <div class="large-12 large-centered columns">
                <h4 class=" error-title ">
                    Still hungry? Sign In now!
                </h4>
            </div>
            <a href="../Authorization/Registration"> <input type="submit" class="button small radius text-center" value="Registration"> </a>
        </div>
    </div>
</div>





